
grafana-provisioning
influxdb

nodered/.config*
nodered/.npm
nodered/lib
nodered/node_modules

# hidden files, exluding gitattributes
.*
!.gitattributes

# data folder
/data
/lorawan-
/lora_usb

*.pem
*.csr
